<hr />
<div class="footer-container">
  <p>&copy; {% year %} Portofolio - Bagus Rahmatoko</p>
  <div class="social_icons">
    <a
      href="https://github.com/rakhmatoko"
      aria-label="GitHub"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/rakhmatoko/"
      aria-label="LinkedIn"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</div>
