<div class="hero-container">
  <img
    src="{{ '/assets/profile.jpeg' | url }}"
    class="profile-img"
    alt="Foto Bagus Rahmatoko"
  />
  <div class="hero-text">
    <h1>Halo, saya Bagus Rahmatoko👋</h1>
    <p>
      Saya seorang lulusan Teknik Informatika yang tertarik dengan berbagai aspek dunia IT, dari
      pemrograman hingga jaringan. Saat ini saya fokus memperdalam pengetahuan di bidang jaringan
      dan keamanan sistem.
    </p>
    <div class="social-icons">
      <a href="https://github.com/rakhmatoko" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/rakhmatoko/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
