<div class="nav-container">
  <div class="logo">
    <a href="{{ '/' | url }}"> B. </a>
  </div>
  <div class="nav">
    <a href="{{ '/projects/' | url }}" class="link"> Projects </a>
    <a
      href="https://drive.google.com/file/d/17Dj0yBuKlApgPBE4FaSo7NbzkcWkx4Zc/view?usp=sharing"
      class="cta-btn"
      target="_blank"
      rel="noopener noreferrer"
      >CV</a
    >
  </div>
</div>
