<div class="skills-container">
  <h2 class="section-title">Keterampilan</h2>
  <div class="grid-skills">
    <div class="skill-card mikrotik">
      <i class="fa-solid fa-server mikrotik-icon"></i>
      <p>Jaringan / MikroTik</p>
    </div>
    <div class="skill-card office">
      <i class="fa-brands fa-microsoft microsoft-icon"></i>
      <p>Microsoft Office</p>
    </div>
    <div class="skill-card security">
      <i class="fa-solid fa-shield security-icon"></i>
      <p>Keamanan TI</p>
    </div>
    <div class="skill-card troubleshooting">
      <i class="fa-solid fa-screwdriver-wrench troubleshooting-icon"></i>
      <p>Pemecahan Masalah TI</p>
    </div>
    <div class="skill-card technicalsupport">
      <i class="fa-solid fa-gear technicalsupport-icon"></i>
      <p>Dukungan Teknis TI</p>
    </div>
    <div class="skill-card figma">
      <i class="fa-brands fa-figma figma-icon"></i>
      <p>Figma</p>
    </div>
    <div class="skill-card html">
      <i class="fa-brands fa-html5 html-icon"></i>
      <p>HTML</p>
    </div>
    <div class="skill-card css">
      <i class="fa-brands fa-css3-alt css-icon"></i>
      <p>CSS</p>
    </div>
    <div class="skill-card js">
      <i class="fa-brands fa-js-square js-icon"></i>
      <p>JavaScript</p>
    </div>
    <div class="skill-card react">
      <i class="fa-brands fa-react react-icon"></i>
      <p>React / React Native</p>
    </div>
    <div class="skill-card node">
      <i class="fa-brands fa-node-js node-icon"></i>
      <p>Node</p>
    </div>
  </div>
</div>
